
<div class="container py-4">
    
    <div class="table-header row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
            <h2>My Booking List</h2>
        </div>

    </div>

    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <!-- <form action="" method="POST"> -->
                    {% csrf_token %}
                    <th>Room Images</th>
                    <th>Room Number</th>
                    <th>Guest Name</th>
                    <th>Date Of dateOfReservation</th>
                    <th>Start Day</th>
                    <th>End Day </th>
                    <th>Room Type:</th>
                    <th >Number of Dependees</th>
                    <th>Total amount</th>
            </tr>

        </thead>
        <tbody>
            
            {% for b in bookings %}
            {% if b.guest.user.id == request.user.id %}
            <tr>{% load static %}
                <!-- <td><img src="/media/images/photo/{{ b.roomNumber.images }}" width="20"></td> -->
                <td><img src="{% static 'images/ha-noi.jpg' %}" width="100"></td>
                <td><a href="{% url 'room-profile' b.roomNumber.number %}">{{b.roomNumber.number}}</a></td>
                <td><a href="{% url 'guest-profile' b.guest.user.id %}">{{b.guest.user.first_name}}</a></td>
                <td>{{ b.dateOfReservation }}</td>
                <td>{{ b.startDate }}</td>
                <td>{{ b.endDate }}</td>
                <td>{{ b.roomNumber.roomType }}</td>
                <td>{{ b.numOfDep }}</td>
                <td>
                    {% for key, value in totals.items %}
                    {% if key == b %}
                    {{ value }}
                    {% endif %}
                    {% endfor %}
                </td>
                {% if role == "admin" or role == 'manager' %}
                <td> <a href="{% url 'deleteBooking' b.id %}"
                        class="btn btn-sm btn-outline-danger">Delete&nbsp;Booking</a></td>
                {% endif %}
            </tr>
            
            {% endif %}
            {% endfor %}

        </tbody>

    </table>



</div>