<div class="main-page py-4">

    <div class="table-responsive">
        <div class="table-header row">

            <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
                <h2>Room Services</h2>
            </div>

        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <th>Guest Name<input type="text" name="name" value="{{name}}" class="form-control border border-secondary"></th>
                        <th>Hotel Name<input type="text" value="{{hotel_name}}" name="hotel_name"class="form-control border border-secondary"></th>
                        <th>Type<input type="text" name="type" value="{{type}}" class="form-control border border-secondary"></th>
                        <th>Created Date<input type="date" name="credate" value="{{credate}}"class="form-control border border-secondary"></th>
                        <th>Price<input type="text" name="price" value="{{price}}" class="form-control border border-secondary"></th>
                        <th>Month<input type="month" name="month" value="{{month}}" class="form-control border border-secondary"></th>
                        <th>Year<input type="year" name="year" value="{{year}}" style="width:70px;" class="form-control border border-secondary"></th>
                        <th><button type="submit" name="filter" class="btn btn-warning">Filter</button></th>
                    </form>
                </tr>
            </thead>
            <tbody>
                {% for rs in room_services %}
                <tr>
                    <td><a
                            href="{% url 'guest-profile' rs.curBooking.guest.user.id %}">{{rs.curBooking.guest.user.first_name}}</a>
                    </td>
                    <td><a href="{% url 'room-profile' rs.room.hotel_name }">{{rs.room.hotel_name}}</a></td>
                    <td>{{rs.servicesType}}</td>
                    <td>{{rs.createdDate}}</td>
                    <td>{{rs.price}}</td>
                    <td>{{ rs.createdDate.month }}</td>
                    <td>{{ rs.createdDate.year }}</td>
                    <td> <a href="" class="btn btn-sm btn-danger px-3">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <div class="row">
                <div class="col-md-6">
                    <p>Total number of services: {{room_services.count}}</p>
                </div>
                <div class="col-md-6">
                    <p>Total price of services: {{total_price}}$</p>
                </div>
            </div>
    

        </table>

    </div>

</div>