{% load static %}

<!-- <div class="mt-5">&nbsp;</div> -->
<!-- <footer class="footer sticky-bottom mt-5">
    <div class="container text-center">
        <span class="text-muted">Booking System - Bui Thi Hong Tam</span>
    </div>
</footer> -->
<style>
  li a {
  color: #ffffff;
}
</style>
<!-- Footer -->
<footer class="hotel-footer">
    <div class="footer-content" >
      <div class="row">
        <div class="col-md-4">
          <h4>TammyReviewing</h4>
          <p>10 Vo Nguyen Giap Street<br>Dong Hoi City<br>Phone: (+84) 931 668 668<br>Email: tammybookingxyz@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h4>Connect With Us</h4>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook" style="color: #1652d3;"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter" style="color: #1da1f2;"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram" style="color: #e1306c;"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Subscribe to Our Newsletter</h4>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
  